.btn {
    margin-right: 0;
    background-color: rgb(255, 255, 255);
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-green {
    background-color: rgb(44, 158, 84);
}

.btn-green:hover {
    background-color: rgb(44, 200, 84);
}

.btn-green:focus {
    background-color: rgb(44, 200, 84);
}

.btn-neutral {
    background-color: rgb(188, 181, 181);
}

.btn-neutral:hover {
    background-color: rgb(255, 255, 255);
}

.btn-neutral:focus {
    background-color: rgb(255, 255, 255);
}

.btn-red {
    background-color: rgb(125, 32, 32);
    color: rgb(226, 226, 226);
}

.btn-red:hover {
    background-color: rgb(185, 11, 11);
}

.btn-red:focus {
    background-color: rgb(185, 11, 11);
}

.unity-slider {
    background-color: rgb(132, 0, 16);
    height: 50px;
    width: 100%;
}

#unity-tracker {
    display: none;
}

#unity-dragger {
    display: none;
}

#unity-dragger-border {
    display: none;
}

.unity-button:hover {
    background-color: rgb(87, 87, 87);
}

.unity-button:focus {
    background-color: rgb(87, 87, 87);
}

.pause-button {
    font-size: 100px;
    -unity-font: url('project://database/Assets/Fonts/consola.ttf?fileID=12800000&guid=8c90d3b567ab5ae4e9058fbab3f4374b&type=3#consola');
    -unity-text-outline-width: 3px;
    text-shadow: 5px 5px 0 rgb(0, 0, 0);
    margin-top: 40px;
}

.pause-button:hover {
    background-color: rgba(255, 255, 255, 0.67);
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0 rgb(255, 255, 255);
}

.pause-button:focus {
    background-color: rgba(255, 255, 255, 0.67);
    color: rgb(0, 0, 0);
    text-shadow: 0 0 0 rgb(255, 255, 255);
}
